/* Start Vars */

$mainColor: #202020;
$backgroundColor: #f6f6f6;

%cpointer {cursor: pointer}
%trans {@include prefixer(transition,all .3s ease-in-out,(webkit moz ms o))}
%txtcap {text-transform: capitalize}
%overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: .4);
}

/* End Vars */

* {
    padding: 0;
    margin: 0;
    @include prefixer(box-sizing,border-box,(webkit o));
}

body {
    font-family: cursive;
}

@media (max-width: 767px) {
    body {
      font-family: 'Akaya Kanadaka' !important;
    }
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: #{$mainColor};
}

::-webkit-scrollbar-track {
    background-color: #{$backgroundColor};
}

img {
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.heading {
    h2 {
        @extend %txtcap;
    }
    p {
        width: 570px;
        margin: 20px auto;
        @media #{$Mobile} {
            width: 373px;
        }
    }
}

p {
    margin: 0;
    line-height: 1.7;
}

// Start Scroll

.scroll {
    position: fixed;
    bottom: 20px;
    @extend %cpointer;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #{$backgroundColor};
    z-index: 4;
    @include prefixer(border-radius,50%,(webkit moz ms o));
    border: 1px solid #{$mainColor};
    text-align: center;
    line-height: 45px;
    display: none;
}

// End Scroll